
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(164, 215, 245);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}


.page-footer{
    background-color: rgb(236, 235, 152);
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



h3{
    color: rgb(28, 17, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}


.img-thumbnail{
    padding:20px;
    border: none;
}


p{
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   padding:20px;
}


body{
    background-color: rgb(248, 246, 142);
}
.col-md-12{
    background-color: rgb(164, 215, 245);
    padding-top: 20px;
    padding-bottom:40px;
}

.pic{
    border: 3px solid rgb(164, 215, 245);
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.dropdown-menu {
    margin: 0;
}


.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}

/* small screen adjustments*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(164, 215, 245)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}